<h2>All Assignments</h2>

<% if @assignments.any? %>

  <h4><ul style="list-style: none;">
    <% @assignments.each do |assignment| %>
      <li>-
        <%= link_to assignment.title, idea_assignment_path(@idea, assignment) %>
      </li>
    <% end %>
  </ul></h4>
  <% else %>
    <p>There are no current Assignments!</p>
<% end %>

  <% if current_user == @idea.user %>
  <%= link_to "New Assignment", new_idea_assignment_path(@idea), class: "btn" %>
  <% end %>
