<div class="image">
  <img class="responsive-img" src="https://hd.unsplash.com/photo-1456930266018-fda42f7404a7" alt="buildings" />
  <h1 class="center-align">Thinkubator</h1>
  <div class="center-align">
  <%= link_to 'Ideas', ideas_path, class: 'btn-large' %>
</div>
</div>
