<% if @suggestion.errors.any? %>
<% @suggestion.errors.full_messages.each do |error| %>
<%= error %>
<% end %>
<% end %>
<div class="row">
		<h2> <%= @idea.title %> </h2>
		<h4> <%= @idea.description %> </h4>
</div>
<h5>New Suggestion:</h5>

<%= render(partial: 'form') %>
